.background {
    background: #443f3f;
}

.containers {
    margin-left: 25px;
    width: 95%;
    height: 95vh;
    margin-top: 25px;
    margin-bottom: 50px;
}

.main {
    margin-top: 10px;
    height: 650px;
}

.actions {
    margin-top: 20px;
    text-align: center;
}

.time {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 100px;
    color: #00E487;
    text-align: center;
}

.scoreBox {
    font-weight: 600;
    background: blue;
    color: white;
    height: 100px;
    width: 300px;
    border-radius: 4%;
    box-shadow: 1px;
    text-align: center;
}

.scoreText {
    padding-top: 5px;
    text-align: center;
}

.score {
    font-size: 40px;
    color: rgb(83, 190, 73);
    text-align: center;
}

.board {
    margin-top: 25px;
}

.lose {
    text-align: center;
    font-weight: 800;
    color: white;
}

.win {
    font-weight: 800;
    text-align: center;
    color: white;
}

.img {
    height: 20px;
    width: 20px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.active {
    background-color: grey !important;
  }

.sco {
    margin: 10px;
    margin-bottom: 1px;
    padding: 10px;
}

.sco:active{
    background-color: grey;
}

.mintxt{
    font-size: small;
}

.button1 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.button2 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.button3 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.button4 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.button5 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.button6 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.button7 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.button8 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 2px;
}
